@model ToDoList.ViewModel.ToDoListView
@using ToDoList.ViewModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Document</title>
</head>

<body>
    <div class="to-do-list">

        <div class="add-task">

            <form asp-action="TaskAdd" asp-controller="Home" method="post">
                @Html.AntiForgeryToken()
                <p>
                    <input type="text" asp-for="DealV.Name" placeholder="Text of task">
                    <select asp-for="DealV.CategoryId" id="">
                        @foreach (var c in Model.Categories)
                        {
                            @if (c.Id > 0)
                            {
                                <option value="@c.Id">@c.Name</option>
                            }
                        }
                    </select>
                    <input type="datetime-local" asp-for="DealV.DueDate">
                    <input type="submit" value="add task">
                </p>
            </form>
        </div>

        @if (Model.DealUpdate?.Id > 0)
        {
            <div class="add-task">

                <form asp-action="UpdateDeal" asp-controller="Home" asp-route-Id ="@Model.DealUpdate.Id" method="post">
                    @Html.AntiForgeryToken()
                    <p>
                        <input type="checkbox" checked ="@Model.DealUpdate.IsComplete" asp-for="DealV.IsComplete">
                        <input type="text" asp-for="DealV.Name" value="@Model.DealUpdate.Name" placeholder="Text of task">
                        <select asp-for="DealV.CategoryId" id="">
                            @foreach (var c in Model.Categories)
                            {
                                 if (c.Id > 0)
                                {
                                     var isChecked = c.Id == Model.DealUpdate.CategoryId; 
                                    <option value="@c.Id" selected = "@isChecked" >@c.Name</option>
                                }
                            }
                        </select>
                    <input type="datetime-local" asp-for="DealV.DueDate" value="@Model.DealUpdate.DueDate">
                    <input type="submit" value="update task">
                </p>
            </form>
        </div>
        }
        
        <div class="add-category">
            <form asp-action="CategoryAdd" asp-controller="Home" method="post">
                @Html.AntiForgeryToken()
                <p>
                    <input type="text" asp-for="CategoryV.Name" placeholder="Name of category">
                    <input type="submit" value="add category">
                </p>
            </form>
        </div>


        <div class="sort-task">
            <form asp-action="SortTask" asp-controller="Home" method="post">
                @Html.AntiForgeryToken()
                <p>
                    <select asp-for="CategorySort.CategorySortId" id="">
                        @foreach (var c in Model.Categories)
                        {
                            <option value="@c.Id">@c.Name</option>

                        }
                    </select>
                    <input type="submit" value="sort tasks">
                </p>
            </form>
        </div>

        <div class="add-task">
            <form asp-action="FileMethod" asp-controller="Home" method="post">
                <select name="Id">
                        <option value="1">DataBase</option>
                    <option value="2">XML file</option>

                </select>
                <input type="submit" value="apply source">
            </form>
        </div>

        <div class="tasks">

            @foreach (Deal m in Model.Deals)
            {
                <input type="checkbox" checked="@m.IsComplete" class="check" onchange="location.href='Home/UpdateDealState/@m.Id'">

                <div class="task">
                    <label for="" class="task-text">@m.Name</label>
                    <label for="" class="due-date">@m.DueDate</label>
                </div>
                <div class="buttons">
                    <a asp-action="DeleteDeal" asp-controller="Home" asp-route-Id="@m.Id" class="delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="White" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                        </svg>
                    </a>
                    <a asp-action="UpdateDealRedirect" asp-controller="Home" asp-route-Id="@m.Id" class="update">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="White" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </a>
                </div>
            }
        </div>
    </div>
</body>
</html>